{{- /*gotype: github.com/mchenriques22/pergolator/codegen/generator/percolatorgen.TemplateInput*/ -}}
{{ define "percolators" }}
{{- template "header" .HeaderArgs -}}

{{- range .BodyArgs }}
{{ template "body" . }}
{{- end -}}

{{ end }}
